<%= button_to "Sign out", destroy_user_session_path, method: :delete %>

<br>

<%= link_to "Accueil User", root_path %>

<br><br>

<%= link_to 'Retour', :back %>

<h1><%= @article.title %></h1>

<p>Slug: <%= @article.slug %></p>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
